@import "../styles/base.scss";
.loader {
  font-family: "ExoThin";
  font-weight: bold;
  position: relative;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: $primary-color;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.3),
    inset 0 0 3px 1px rgba(255, 255, 255, 0.3);

  /* &::before {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    position: absolute;
    content: "L";
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    height: 80%;
    width: 80%;
    color: #fff;
    animation: rotation 1.2s infinite ease-in-out alternate-reverse;
  } */

  &::after {
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.6);
    content: "Loading!";
    position: absolute;
    top: 35%;
    color: #fff;
    left: 13%;
    animation: jumping 300ms infinite ease-in-out alternate;
  }
}
/* 
@keyframes rotation {
  from {
    transform: rotate(-45deg) translateY(10px);
  }
  to {
    transform: rotate(45deg) translateY(10px);
  }
} */

@keyframes jumping {
  from {
    transform: translateY(1px);
  }
  to {
    transform: translateY(-3px);
  }
}
